body {
margin:0px;
width:100%;
}

h1 {
font-family:playfair display;
font-size:52px;
}

@media only screen {
h1 {
font-family:playfair display;
font-size:32px;
}
}

h2 {
font-family:poiret one;
font-size:30px;
}

h3 {
font-family:poiret one;
font-size:24px;
}

h4 {
font-family:poiret one;
font-size:20px;
}

h5 {
font-family:poiret one;
font-size:18px;
}

h6 {
font-family:poiret one;
font-size:16px;
}

p {
font-family:roboto;
font-size:16px;
font-weight:300;
text-align: justify;
}

.text-align-left {
text-align:left;
}

.text-align-right {
text-align:right;
}

.vertical-spacer {
height:50px;
}

.spacer  {
width:10%;
height:100%;
}

@media only screen and (max-width:768px) {
.spacer  {
display:none;
}
}

header {
background-color:#ffffff;
display:block;
padding:0px;
z-index:100;
height:80px;
width:100%;
transition: top 0.8s;
position:fixed;
}

header.fixedToTop {
position:fixed;
top:0;
left:0;
right:0;
margin-top:0;
transition: top 0.8s;
}

.headercolumn {
display:flex;
align-items:center;
height:100%;
}

.header-leftcolumn {
display:flex;
justify-content:flex-start;
width:30%;
padding-left:40px!important;
align-items:center;
height:100%
}

.header-rightcolumn {
display:flex;
width:70%;
padding-right:50px!important;
justify-content:flex-end;
height:100%
align-items:center;
}

.headerlogo {
min-width:80px;
max-width:80px;
height:auto;
}

@media only screen and (max-width:768px) {
.headerlogo {
max-width:100px!important;
height:auto;
}
}

.nav-margin {
margin:0px;
}

nav {
display:flex;
align-items:flex-end;
padding-bottom:3px;
}

@media only screen and (max-width:768px) {
.desktop-nav {
display:none!important;
}
}

@media only screen and (min-width:768px) {
.responsive-nav {
display:none!important;
}
}

.horizontal-list {
list-style: none;
display: flex; 
padding: 0;
justify-content:right;
height:100%;
}

.horizontal-list li {
display:flex;
align-items:center;
margin-right:60px;
position:relative;
font-family:montserrat;
font-weight:300px;
font-size:16px;
height:100%;
padding-top:2px;
}

.horizontal-list li a {
display:block;
text-decoration: none;
color:#181818;
padding-bottom:2px;
}

.horizontal-list li:last-child {
margin-right: 40px;
}

#sidebar {
display:none;
}

@media only screen and (max-width:768px) {

.vertical-list {
list-style: none;
display: grid;
grid-template-columns: 1fr; 
padding: 40px;
margin:0;
align-items:center;
}

.vertical-list li a {
display:flex;
font-family:montserrat;
font-weight:400;
font-size:16px;
text-decoration: none;
color:#ffffff;
padding:15px;
justify-content: center;
}

#toggle-sidebar {
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color:#ffffff;
}

input[type="button"]{
width:150px;
  height:150px;
  /*just this*/ background-image: url(Imagenes/menu-svgrepo-com.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  margin-top:8px;
}

#sidebar {
  display:block;
  position: fixed;
  top: 0;
  right: -50%; /* Initially off-screen to the left */
  width: 50%; /* Adjust the width to cover almost the entire width */
  height: 100vh; /* 100% of viewport height */
  background: linear-gradient(to bottom, #ffe400ff, #ff0000ff);
  color: #ffffff;
  transition: right 0.5s; /* Smooth transition for sliding in/out */
}

}

/* Animations */

.LTitle {
  position:relative;
  left: -200px; /* Desplazar hacia la izquierda */
  opacity: 0;
  transition: 2s;
  overflow: hidden;
}

/* Estilo para la entrada desde la izquierda */
.RightTitle {
  position:relative;
  left: 0px; /* Desplazar hacia la derecha */
  opacity: 1;
  transition: 2s;
  overflow: hidden;
}

.RTitle {
  position:relative;
  right: -200px; /* Desplazar hacia la derecha */
  opacity: 0; /* Inicialmente invisible */
  transition: 2s;
  overflow: hidden;
}

/* Estilo para la entrada desde la derecha */
.LeftTitle {
  position:relative;
  right: 0px; /* Desplazar hacia la izquierda */
  opacity: 1; /* Inicialmente invisible */
  transition: 2s;
  overflow: hidden;
}

.BTitle {
  position:relative;
  bottom: -100px; /* Desplazar hacia abajo */
  opacity: 0; /* Inicialmente invisible */
  transition: 1s;
  overflow: hidden;
}

/* Estilo para la entrada desde abajo */
.TopTitle {
  position:relative;
  bottom: 0px; /* Desplazar hacia arriba */
  opacity: 1;
  transition: 1s;
  overflow: hidden;
}

.TTitle {
  position:relative;
  top: -100px; /* Desplazar hacia arriba */
  opacity: 0; /* Inicialmente invisible */
  transition: 1s;
  overflow: hidden;
}

/* Estilo para la entrada desde arribaa */
.BottomTitle {
  position:relative;
  top: 0px; /* Desplazar hacia abajo */
  opacity: 1; 
  transition: 1s;
  overflow: hidden;
}

.banner {
display:flex;
background-image: url(Imagenes/architecture-1868667_1920.jpg);
background-color: #00000066;
background-blend-mode: overlay;
background-position: center;
background-repeat: no-repeat;
height:500px;
background-size: cover;
background-attachment:fixed;
justify-content:center;
align-items:center;
padding-top:100px;
position:relative;
}

.bannercontent {
display:block;
color:#ffffff;
width:80%;
}

.marginbannerfix {
margin:0;
display:flex;
justify-content:left;
}

h2.marginbannerfix {
font-family:roboto;
font-size:24px;
font-weight:300;
}

.twocolumn {
display:flex;
}

.rightcolumn {
width:40%;
display:grid;
margin:0;
align-items:center;
}

.leftcolumn {
width:40%;
display:grid;
margin:0;
align-items:center;
}

.left-text-style {
padding-right:50px;
}
.right-text-style {
padding-left:50px;
}

.cover1 {
border-radius:30px;
display:flex;
background-image: url(Imagenes/architecture-1868667_1920.jpg);
background-position: center;
background-repeat: no-repeat;
height:500px;
background-size: cover;
justify-content:center;
align-items:center;
margin-left:50px;
}

@media only screen and (max-width:768px) {
.twocolumn {
flex-direction: column;
align-items:center;
} 

.rightcolumn {
display:block;
width:85%;
padding:0px;
}

.leftcolumn {
display:block;
width:85%;
padding:0px;
}

.left-text-style {
padding-right:0px;
}

.right-text-style {
padding-left:0px;
}

.cover1 {
border-radius:30px;
display:flex;
background-image: url(Imagenes/architecture-1868667_1920.jpg);
background-position: center;
background-repeat: no-repeat;
height:300px;
background-size: cover;
justify-content:center;
align-items:center;
margin:0;
}

}

.threecolumn {
display:flex;
background-image: url(Imagenes/architecture-1868667_1920.jpg);
background-color: rgba(255, 104, 0, 0.5);
background-blend-mode:overlay;
padding:50px 0;
}

.leftcolumn-three {
background-image: url(Imagenes/architecture-1868667_1920.jpg);
background-position: top;
background-repeat: no-repeat;
height:500px;
background-size: cover;
margin-right:20px;
width:26.66666%;
}

.leftcolumn-three:hover {
transform:scale3d(1.1, 1.1, 1.1);
}


.centercolumn-three {
background-image: url(Imagenes/architecture-1868667_1920.jpg);
background-position: top;
background-repeat: no-repeat;
height:500px;
background-size: cover;
width:26.66666%;
margin:0 10px;
}

.centercolumn-three:hover {
transform:scale3d(1.1, 1.1, 1.1);
}

.rightcolumn-three {
background-image: url(Imagenes/architecture-1868667_1920.jpg);
background-position: top;
background-repeat: no-repeat;
height:500px;
background-size: cover;
width:26.66666%;
margin-left:20px;
}

.rightcolumn-three:hover {
transform:scale3d(1.1, 1.1, 1.1);
}

.threegrid {
height:100%;
}

.topblock {
height:85%;
}

.bottomblock {
height:15%;
background-color:#000000ff;
}

.cover2 {
border-radius:30px;
display:flex;
background-image: url(Imagenes/architecture-1868667_1920.jpg);
background-position: center;
background-repeat: no-repeat;
height:500px;
background-size: cover;
justify-content:center;
align-items:center;
margin-right:50px;
}

.lottiebanner {
position:absolute;
top:100%;
left:70%;
z-index:2;
transform:scale3d(1.2, 1.2, 1.2);
}
